<%def name="render(form)">
<div class="inner">
	%for field in form：
	<div class="block-content">
		<form class="ui-form" name="" method="post" action="#" id="">
		    <fieldset>
		        <legend>表单标题</legend>

		        <div class="ui-form-item">
		            <label for="" class="ui-label">
						%if field.flags.required:
		                <span class="ui-form-required">*</span>
						%endif
						${field.label}
		            </label>
		            <input class="ui-input ui-span-9" type="text">
		        </div>
		        <div class="ui-form-item">
		            <label for="" class="ui-label"><span class="ui-form-required">*</span>供求</label>
					<input type="radio" name="faburen" value="0" checked="checked">
					<span class="ui-form-other"><label for="">供应</label></span>	
					<input type="radio" name="faburen" value="0">
					<span class="ui-form-other"><label for="">求购</label></span>
		        </div>
		        <div class="ui-form-item">
		            <label for="" class="ui-label"><span class="ui-form-required">*</span>分类</label>
		            <select id="province" name="province" size="2" class="ui-span-5">
		                <option value="">
							供应
		                </option>
		                <option value="buy">
							求购
		                </option>
		            </select>
		        </div>
		        <div class="ui-form-item">
		            <label for="" class="ui-label"><span class="ui-form-required">*</span>有效期</label>
		            <select id="province" name="province">
		                <option value="15">
							15天
		                </option>
		                <option value="30">
							一个月
		                </option>
		            </select>
		        </div>
				<div class="ui-form-item ui-form-item-success">
		            <label for="" class="ui-label"><span class="ui-form-required">*</span>详细内容</label>
		            <textarea class="ui-textarea">一二三四五六七八九十</textarea>
		            <p class="ui-form-explain ui-tiptext ui-tiptext-success">
		                <i class="ui-tiptext-icon iconfont" title="成功"></i>
		                成功文案。
		            </p>
		        </div>

		        <div class="ui-form-item">
		            <label for="" class="ui-label">验证码</label>
		            <input class="ui-input ui-input-checkcode" type="text" data-explain="请输入右图中字符，不区分大小写。" maxlength="4" autocomplete="off" value="" name="fourcode">
		            <img class="ui-checkcode-imgcode-img" align="absMiddle" alt="请输入您看到的内容" src="https://omeo.alipay.com/service/checkcode?sessionID=82012ab6b1f4ed9e675fb9092a25cb3b&amp;r=0.9321065918075809" title="点击刷新图片校验码">
		            <a href="#">看不清，换一张</a>
		            <div class="ui-form-explain">请输入右图中字符，不区分大小写。</div>
		        </div>

		        <div class="ui-form-item">
		            <input id="test" value="" type="checkbox"> <label for="test">我已阅读并接受自主缴费服务协议</label>
		        </div>

		        <div class="ui-form-item">
		            <input type="submit" class="ui-button ui-button-morange" value="确定">
		            <input type="button" class="ui-button ui-button-mwhite" value="取消">
		        </div>   
		    </fieldset>
		</form>
	</div>	
</div>