{% extends "base.html"%}

{%block name="main_body" %}
<div class="pure-u-3-4 main-content">

        <form class="pure-form pure-form-stacked article-form" method="post">

            <fieldset>
                <legend >Article</legend>
                {% module xsrf_form_html() %}
                <input type="text" class="form-imgs hidden" name='img_list' value="{{article.img_list}}">
                <label for="title"> title </label>
                <input type="text" name="title" value="{{article.title or ''}}" placeholder="title" required>
                <label for="create_time">create </label>
                <input type="text" name="create_time" value="{{article.create_time.strftime('%Y-%m-%d %H:%M')}}" placeholder="create_time"/>
                <label>active</label>
                <select id="active" name='active' value="{{article.active}}">
                    <option value="1" {% if article.active is 1%} selected {% end %}>yes</option>
                    <option value="0" {% if article.active is 0%} selected {% end %}>no</option>
                </select>
                <label for="category">category </label>
                <select  name='category'>
                   {% for category in categories%}
                   <option value="{{category.name}}" {% if article.category and article.category.name == category.name %} selected {%end %}>{{category.name}}</option>
                   {% end %}
                <label for="md_content"> md_content </label>
                <textarea name="md_content" placeholder="markdown" rows="12" cols="80" required>{{article.md_content or ''}}</textarea>
                <button type="submit" class="pure-button pure-button-primary">提交</button>

            </fieldset>
        </form>
    <div class="pure-g">
        <div class="pure-u-1-4">
                <form class="pure-form pure-form-stacked pure-g" id="img-form" url-bind="{{reverse_url('admin_image_upload')}}" enctype="multipart/form-data">
                <fieldset class="pure-u-1">
                    <legend>添加图片</legend>
                    <label>图片</label>
                    <input type="file" name="file" required class="pure-u-23-24"/>
                    <label for="description">描述</label>
                    <input type="text" name="description" required placeholder="description" class="pure-u-23-24"/>

                    <button type="submit" class="pure-button pure-button-primary img-del">上传</button>

                </fieldset>
            </form>
        </div>
        <div class="pure-u-3-4">
            <div class="l-box img-block">
                {% for image in  images %}
                <div class="pure-g id-{{image.get('id')}}" >
                    <div class="pure-u-1-4">
                        <img class="pure-img" src="{{image.get('url')}}">
                    </div>
                    <div class="pure-u-1-2">
                        <span class='img-description'>描述：{{ image.get('description')}}</span><br />
                        <span class='img-url'>url：{{ image.get('url')}}</span>

                    </div>
                    <div class="pure-u-1-4">
                        <button class="pure-button button-error button-small img-del" data-id="{{image.get('id')}}" data-del-url="{{image.get('del_url')}}">delete</button>
                    </div>
                </div>
                {% end %}
            </div>
         </div>
    </div>
</div>
</div>
{% end %}
