<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>arion's blog admin</title>
    <link rel="stylesheet" href="{{static_url('pure-min.css')}}">
    <link rel="stylesheet" href="{{static_url('font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{static_url('admin/style_admin.css')}}">
    <script src="{{static_url('lib/zepto.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url('admin/style_admin.js')}}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="wrapper">
		{%include "header.html" %}
		<div class="pure-g" id="content">
            {%include "aside.html" %}
			{%block name="main_body"%}{% end%}
        </div>
		{%include "footer.html" %}
	</div>
</body>
</html>
