<%inherit file="base.html"/>

<%block name="mian_body">
<div class="pure-u-3-4 main-content">
	<div class="pure-g post-items-heading l-lbox">
		<div class="pure-u-1-2">
			分类
		</div>
		<div class="pure-u-1-2">
			操作
		</div>
	</div>
	%for post in posts:
	<div class="pure-g post-items l-lbox">
		<div class="pure-u-1-2">
			<a href="${reverse_url('category_edit', post.name)}">${post.name}</a>
		</div>
		<div class="pure-u-1-2">
			<a href="${reverse_url('category_edit', post.name)}">编辑</a>
		</div>
	</div>
	%endfor
</div>
</%block>