<%inherit file="base.html"/>

<%block name="mian_body">

<div class="pure-u-3-4 main-content">
	<div class="pure-g-r post-add-wrapper l-box">
		<div class="pure-u-5-6">
			<div class="l-rbox">
				<form class="pure-form pure-form-stacked" method="post" >
				    <fieldset>
				        <legend>添加文章</legend>
						<div class="pure-u-1">
				            <label for="name">${form.name.label}</label>
							${form.name(class_="pure-input-1")}
							%if form.name.errors:
								%for error in form.name.errors:
								<p class="pure-button-error">
								    <i class="icon-remove"></i>
								    ${error}
								</p>
								%endfor
							%endif
						</div>
						<div class="pure-u-1">
							<label for="alias">${form.alias.label}</label>
							${form.alias(class_="pure-input-1-2")}
							%if form.alias.errors:
								%for error in form.alias.errors:
								<p class="pure-button-error">
								    <i class="icon-remove"></i>
								    ${error}
								</p>
								%endfor
							%endif							
						</div>
						<div class="pure-u-1">
							<label for="description">${form.description.label}</label>
							${form.description(class_="pure-input-1", rows="5")}
							%if form.description.errors:
								%for error in form.description.errors:
								<p class="pure-button-error">
								    <i class="icon-remove"></i>
								    ${error}
								</p>
								%endfor
							%endif 
							
						</div>	
						<div class="pure-u-1 hidden">
							<div class="pure-u-1 images-list">
								%for images in form.images:
								${images}
								%endfor
							</div>
						
		
						</div>
				            <button type="submit" class="pure-button">Submit</button>  
				    </fieldset>
				</form>
			</div>
		</div>
		<div class="pure-u-1-6 upload-wrapper">
			
			<div class="upload-img">
			<button class="pure-button pure-button-success " id="upload-0" >+</button>
			%if form.images.data:
				%for images in form.images.data:
					<img src="/upload/${images}" rola='${images}'>
				%endfor
			%endif:
			</div>

		</div>
		
	</div>
</div>
<script src="${static_url("admin/js/ueditor/editor_config.js")}" type="text/javascript" charset="utf-8"></script>
<script src="${static_url("admin/js/ueditor/ueditor_min.js")}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="${static_url("admin/js/ueditor/themes/loftskin/ueditor.css")}"/>

<script type="text/javascript" charset="utf-8">
UEDITOR_CONFIG.focus = true;
var uEditor_Instance = new baidu.editor.ui.Editor();
uEditor_Instance.render('description');
uEditor_Instance.focus();
</script>
<script
    src="${static_url("src/seajs/sea.js")}" data-config="config" data-main="admin_main"> 
</script>		
		

</%block>