        <div class ="pure-g" id="header">
            <div class="pure-u-1-2">
                <h1>Arion's</h1>
            </div>
            <div class="pure-u-1-2">
                <div class="pure-menu pure-menu-horizontal">
                    {%if current_user %}
                    <a class="pure-menu-heading">{{current_user}}</a>
                    {% end %}
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            {% if current_user %}
                                <a href="{{reverse_url("logout")}}" class="pure-menu-link">退出</a>
                            {% end %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
