<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>arion's blog admin</title>
    <link rel="stylesheet" href="{{static_url('pure-min.css')}}">
    <link rel="stylesheet" href="{{static_url('admin/style_admin.css')}}">
</head>
<body>
	<div class="wrapper">
		{%include "header.html" %}
		<div class="pure-g" id="content">
			<div class="pure-u-1 main-content" >
            <form method="post" class="pure-form pure-form-stacked">
            {% module xsrf_form_html() %}
            <legend>Login</legend>
            <div class=" pure-g add-category">
                <div class="pure-u-1-2">
                    <input type="text" name="email" placeholder="email" class="pure-u-23-24">
                </div>
                <div class="pure-u-1-2">
                    <input type="password" name="pass_word" placeholder="password" class="pure-u-23-24">
                </div>
                <div class="pure-u-1">
                    <button type="submit" class="pure-button pure-button-primary" > submit</button>
                </div>
            </div>
        </form>
        </div>
        </div>
		{%include "footer.html" %}
	</div>
</body>
</html>
