{% extends "base.html"%}

{%block name="main_body" %}
<div class="pure-u-3-4 main-content">
        <form class="pure-form pure-form-stacked" method="post">
            {% module xsrf_form_html() %}
            <fieldset>
                <legend>chapter</legend>
                <label for="title">title</label>
                <input type="text" name="title" id ="title" value="{{novel_chapter.title or ''}}" placeholder="title" required>
                <label for="creat_time">creat_time</label>
                <input type="text" name="creat_time" id="creat_time" value="{{novel_chapter.creat_time.strftime('%Y-%m-%d %H:%M')}}" placeholder="creat_time"/>
                <label for="active">active</label>
                <select id="active" name='active' value="{{novel_chapter.active}}">
                    <option value="1" {% if novel_chapter.active is 1%} selected {% end %}>yes</option>
                    <option value="0" {% if novel_chapter.active is 0%} selected {% end %}>no</option>
                </select>
                <label for="novel">novel</label>
                <select  name='novel'>
                   {% for novel in novels%}
                    <option value="{{novel.name}}">{{novel.name}}</option>
                   {% end %}
                </select>
                <label for="md_content">md_content</label>
                <textarea name="md_content" id="md_content" placeholder="markdown" rows="12" cols="40" required>{{novel_chapter.md_content or ''}}</textarea>
                <button type="submit" class="pure-button pure-button-primary">提交</button>
                
            </fieldset>
        </form>
</div>
{% end %}
