{{ define "body"}}
{{$quote := .Get "quote"}}
{{$chapter := .Get "chapter"}}
{{$prev_chapter := .Get "prev_chapter"}}
{{$next_chapter := .Get "next_chapter"}}
<div class="pure-u-g">
    <div class="pure-u-1">
        <div class="main-block pos-r">
                {{if not $quote.ID.IsZero}}
                <div class="quote-block pos-a">
                    <p class="quote-body">{{$quote.Content}}</p>
                    <p class="quote-author">—— {{$quote.Author}}</p> 
                </div>
                {{end}}
            <div class="article-header">
                <h1>{{$chapter.Title}}</h1>
            </div>
            <div class="article-content">
                {{$chapter.Content | markdown}}
            </div>
            <div class="pure-menu pure-menu-horizontal article-footer">
                {{if not $prev_chapter.ID.IsZero}}
                <li class="pure-menu-item">
                <a class="pure-menu-link" href='{{reverse "chapter" $prev_chapter.Novel  $prev_chapter.ID.Hex }}'>上一章：{{$prev_chapter.Title}}</a>
                </li>
                {{end}}
                {{if not $next_chapter.ID.IsZero}}
                <li class="pure-menu-item">
                <a class="pure-menu-link" href='{{reverse "chapter" $next_chapter.Novel $next_chapter.ID.Hex }}'>下一章：{{$next_chapter.Title}}</a>
                </li>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}