{{define "body"}}
{{$n := .Get "novel"}}
<div class="pure-u-1">
        <div class="main-block">
            <div class="novel-des bs-s">
             {{$n.Description}}
            </div>
            <div class="chapters-header bs-s">
                <h2>{{$n.Name}}</h2>
            </div>
            <div class="pure-g chapters-list">
                {{range .Get "chapters"}}
                <div class="pure-u-1-3 pure-u-sm-1-2">
                    <div class="chapters-item bs-s">
                        <a  class="pure-menu-link" href='{{reverse "chapter" .Novel .ID.Hex}}'>{{.Title}}</a>
                    </div>
                </div>
                {{end}}
            </ul>
        </div>
        </div>
    </div>
{{end}}