<div class="pure-g" >
	<!--<div class="legal"> -->
	    <div class="pure-u-2-5">
	        <div class="l-box">
	            <!--<p class="legal-license">
	                This site is built with tornado, mongodb
	            </p> -->
	            <p class="legal-license">
	                All code under the <a href="http://opensource.org/licenses/MIT" target="_black">MIT License</a>.<br />

	                All article under the <a href="https://creativecommons.org/licenses/by/3.0/deed.en" traget="_black"> CC BY 3.0 </a>.
	            </p>
	        </div>
	    </div>

	    <div class="pure-u-1-5">
	        <div class="l-box legal-logo">
	            <a href="#">
	                arion's life!
	            </a>
	        </div>
	    </div>

	    <div class="pure-u-2-5">
	        <div class="l-box">
	            <ul class="legal-links pure-g">
	                <li class="pure-u-1">
	                    <a href="https://github.com/Arion-Dsh" traget="_black">GitHub Project</a>
	                </li>
	                <!--
	                <li class="pure-u-1-2">
	                    <a href="#">豆瓣</a>
	                </li>
	                -->
	            </ul>

	            <p class="legal-copyright">
	                &copy; Arion. All rights reserved.
	            </p>
	        </div>
	    </div>
	<!--</div> -->
</div>
