<div class="pure-g header-cont">
    <div class="pure-u-1-4">
        <div class="logo">
            <h1><a href="/">Arion's</a></h1>
        </div>
     </div>
    <div class="pure-u-3-4">
        <div class="pure-menu pure-menu-horizontal main-menu">
        <ul class="pure-menu-list main-menu-list">
            <li class="pure-menu-item">
                <a href="{{reverse_url('archives', 'zh-hans', 1)}}" class="pure-menu-link">Chinese</a>
            </li>
            <li class="pure-menu-item">
                <a href="{{reverse_url('archives', 'en-us', 1)}}" class="pure-menu-link">English</a>
            </li>
            <li class="pure-menu-item">
                <a href="{{reverse_url('novel_chapters', 'wuxia')}}" class="pure-menu-link">Novel</a>
            </li>
        </ul>
        </div>
    </div>
</div>
