{% extends "base.html"%}

{%block name="main_body"%}
<div class="pure-u-1 pos-r">
    {% if quote%}
    <div class="quote-block pos-a">
        <p class="quote-body">{{quote.body }}</p>
        {% if quote.author %}<p class="quote-author">——{{quote.author}}</p> {%end%}
    </div>
    {% end %}
    {% if image%}
    <div class="home-img">
        <img src="{{image.url}}" alt="{{image.description}}" class="pure-img"/>
    </div>
    {% end %}
    <div class="main-block">
        {% if articles %}
        <div class="home-items">
         <h2>最新文章</h2>
        <ul>
            {% for article in articles%}
            <li><i>{{article.creat_time.strftime('%d-%M')}}</i> <a href="{{reverse_url('article', 'zh-hans', article.creat_time.strftime('%d-%M'), article.id_no)}}">{{article.title}}</a> </li>
            {%end%}
        </ul>
    </div>
    {% end %}
    <div class="article-content">
        {% if page%}
        {% raw page.html_content %}
        {%end%}
    </div>
    </div>
</div>
{%end%}
