{% extends "base.html"%}
{% block name="title"%}{{article.title or page.title}} - {%end%}
{%block name="main_body"%}
<div class="pure-u-g">
    <div class="pure-u-1">
        <div class="main-block pos-r">
            {% if quote%}
            <div class="quote-block pos-a">
            <p class="quote-body">{{quote.body}}</p>
            {% if quote.author %}<p class="quote-author">—— {{quote.author}}</p> {% end %}
            </div>
            {% end %}
        {% set _article = article or page%}
        <div class="article-header">
            <h1>{{_article.title}}</h1>
            <p>{{_article.creat_time.strftime('%d-%M')}}</p>
        </div>
        <div class="article-content">
            {% raw _article.html_content %}
        </div>
    </div>
        </div>
        <div class="comments">
            <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'arionlife';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</div>
{% end %}
