<%block name="footer">
<footer id="footer">
	<div class="legal">
	        <div class="l-box">
	            <p class="legal-license">
	                This site is built with <a href="http://www.tornadoweb.org/">tornado</a>
	            </p>
	            <p class="legal-license">
	                All article under the <a href="http://creativecommons.org/licenses/by/3.0/deed.zh">CC BY 3.0</a>
	            </p>
	        </div>
	        <div class="l-box legal-logo">
	            <a href="${reverse_url("index")}">
	                arion's life!
	            </a>
	        </div>
	        <div class="l-box">
	            <ul class="legal-links pure-g">
	                <li >
	                    <a href="https://github.com/Arion-Dsh">GitHub Project</a>
	                </li><li>
	                    <a href="#">豆瓣</a>
	                </li>
	            </ul>

	            <p class="legal-copyright">
	                &copy; 2013 Arion's life. All rights reserved.
	            </p>
	        </div>

	</div>
</footer>
</%block>