<%inherit file="base.html"/>


<%block name="main">

%for post in posts._list:
<article class="article-item blcok">
	<h2><a href="${reverse_url('post',post.slug)}">${post.title}</a></h2>
	<div class="article-item-content">
		  ${post.description}
	</div>
	<div class="article-more">
		<a href="${reverse_url('post',post.slug)}">readmore<i class="icon-long-arrow-right"></i></a>
	</div>
</article>
%endfor

%if posts.pages != 1:
<nav class="paginator">
	%if posts.has_prev:	
	<a class='prev' href="${reverse_url('category_list', node.name, posts.prev_num)}">&lt;</a>
	%endif
	%for page in posts.iter_pages( left_edge=0, left_current=0,right_current=1, right_edge=0):
		%if page:
			%if page != posts.page:
			<a href="${reverse_url('category_list', node.name, page)}">${page}</a>
			%else:
			<a class="actived" href="${reverse_url('category_list', node.name, page)}">${page}</a>
			%endif
		%endif
	%endfor
	%if posts.has_next:
	<a class='next' href="">&gt;</a>
	%endif
</nav>
%endif

</%block>


