<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>index</title>
	<link rel="stylesheet" href="css/pure-min.css" type="text/css"charset="utf-8">
	<link rel="stylesheet" href="css/style.css" type="text/css"charset="utf-8">	
	<link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
	<div class="pure-g-r" id="layout">
		<div class="inner pure-u">
		<div class="pure-u-1" id="header">
			<h1 class="pure-u-1">Arion's Life</h1>
			<h2 class="pure-u">simple is beautiful</h2>
		</div>
		<div class="pure-u-1" id="menu">
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
			    <ul>
			        <li><a href="#"><i class="icon-home"></i> Home</a></li>
			        <li ><a href="#">Life</a></li>
			        <li><a href="#">Work</a></li>
			        <li><a href="#">Rabbit Hole</a></li>
			        <li><a href="#">About Me</a></li>
			    </ul>
			</div>
		</div>
		<div class="pure-u-1" id="content">
				<h2 class="content-subhead">
					<i class="icon-heart"></i>你好啊中国</h2>
				<div class="node-content">
					你啊是否撒的减肥你范德萨
					你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨你啊是否撒的减肥你范德萨
				</div>
		</div>
		<div class="pure-u-1" id="comments">
			
		</div>
		<div class="pure-u" id="comment">
			<form class="pure-form pure-form-stacked">
			    <fieldset>
			        <legend>Legend</legend>

			        <div class="pure-g-r">
			            <div class="pure-u-1-3">
			                <label for="first-name">First Name</label>
			                <input id="first-name" type="text">
			            </div>

			            <div class="pure-u-1-3">
			                <label for="last-name">Last Name</label>
			                <input id="last-name" type="text">
			            </div>

			            <div class="pure-u-1-3">
			                <label for="email">E-Mail</label>
			                <input id="email" type="email" required>
			            </div>

			            <div class="pure-u-1-3">
			                <label for="city">City</label>
			                <input id="city" type="text">
			            </div>

			            <div class="pure-u-1-3">
			                <label for="state">State</label>
			                <select id="state" class="pure-input-medium">
			                    <option>AL</option>
			                    <option>CA</option>
			                    <option>IL</option>
			                </select>
			            </div>
			        </div>

			        <label for="terms" class="pure-checkbox">
			            <input id="terms" type="checkbox"> I've read the terms and conditions
			        </label>

			        <button type="submit" class="pure-button notice">Submit</button>
			    </fieldset>
			</form>
		</div>

		<div class="pure-u-1" id="footer">
			<div class="legal pure-g-r">
			    <div class="pure-u-2-5">
			        <div class="l-box">
			            <p class="legal-license">
			                This site is built with &lt;3 using Pure v0.2.0
			            </p>
			            <p class="legal-license">
			                All code under the <a href="http://yuilibrary.com/license/">BSD License</a>
			            </p>
			        </div>
			    </div>

			    <div class="pure-u-1-5">
			        <div class="l-box legal-logo">
			            <a href="#">
			                arion's life!
			            </a>
			        </div>
			    </div>

			    <div class="pure-u-2-5">
			        <div class="l-box">
			            <ul class="legal-links pure-g">
			                <li class="pure-u-1-2">
			                    <a href="#">GitHub Project</a>
			                </li>
			                <li class="pure-u-1-2">
			                    <a href="#">豆瓣</a>
			                </li>
			            </ul>

			            <p class="legal-copyright">
			                &copy; 2013 Yahoo! Inc. All rights reserved.
			            </p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	</div>
</body>