body {
<<<<<<< HEAD
    /*font-family: "Lucida Grande", Helvetica, Arial, Verdana,sans-serif;*/
=======
    font-family: "Lucida Grande", /*"Lucida Sans Unicode",*/ Helvetica, Arial, Verdana, sans-serif;
>>>>>>> 7945220ad7db17bc2200b52599183782f10ee30c
    color: #777;
}
.wrapper,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
/* ------------------------
 * Layout Styles
 *-------------------------
*/

.wrapper{
	max-width:990px;
	padding:0 5px;
	margin:0 auto;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
}

.l-vbox {
    padding: 1.3em 0;
}

.l-hbox {
    padding: 0 1.3em;
}
.l-lbox{
	padding-left: 1.3em;
}
.l-rbox{
	padding-right: 1.3em;
}
.l-centered {
    text-align: center;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

dt {
    font-weight: bold;
}
dd {
    margin: 0 0 10px 0;
}

.hidden{
	display: none !important; 
	visibility: hidden;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
p.pure-button-error{
	border-radius: 0;
	margin: 5px 0;
	padding: 5px;
	font-size: 80%;
}
.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
/* --------------------------
 * Header Module Styles
 * --------------------------
*/

#header {

     margin: 0;
     color: #333;
     padding: 1em 0;
     border-bottom: 1px solid #eee;
 }
	#header h1{
		margin: 0;
		line-height: 1.1875em;
	}
	#header .pure-menu{
		text-align: right;
	}

	
/* --------------------------
 * main-Content Module Styles
 * --------------------------
*/

#content{
	margin: 2em 0;
}

	.aside{
		margin-bottom: 1em;
	}

		.post-items-heading,
		.post-items{
			border: 1px solid #b7b7b7;
		}
		.post-items{
			border-top-style: hidden;
		}
		.post-items-heading>div,
		.post-items>div{
			line-height:2em;

		}

		.post-items .pure-u-5-24 a{
			padding-right: 5px;
		}

		.post-items-footer{
			padding: 1em;
			text-align: center;
		}
	
	
		.post-add-wrapper{
			border: 1px solid #b7b7b7;
		}
			.post-add-wrapper .pure-form .pure-button{
				margin-top: 1em;
			}
			.post-add-wrapper .splash-image{
				margin-bottom: 1em;
			}
			.upload-img-list-0,
			.upload-img-list-1,
			.upload-img-list-2,
			.upload-img-list-3,
			.upload-img-list-4{
				margin-bottom: 1em;
				position: relative;
			}
/* --------------------------
 * paginator Module Styles
 * --------------------------
*/
   
#paginator{
	text-align: center;
}


#footer{
	margin: 3em 0 2em;
	padding: 1em 0;
	border-top: 1px solid #eee;


}

.legal {
    font-size: 80%;  
    background: rgb(250, 250, 250);
}

    .legal-license,
    .legal-copyright {
        margin: 0;
    }

    .legal-copyright,
    .legal-links {
        text-align: right;
    }

    .legal-links {
        list-style: none;
        margin: 0 0 5px 0;
    }
	.legal-logo {
	text-align: center;
	height: 30px;
	line-height: 30px;
	}
		.legal p{ margin-bottom: 5px;}
		
/* --------------------------
 * paginator Module Styles
 * --------------------------
*/
@media (max-width : 767px) {
	#header>div{
		text-align: center;
	}
	
	#header .pure-menu{
			text-align: center;
		}
	#content{
		font-size: 90%;
		width: 95%;
		margin:1em auto 0;
	}
	#footer{
		margin-top: 1em;
	}
    .legal-links {
        padding:1em 0;
    }
    .legal-license,
    .legal-copyright,
    .legal-links,
    .legal-links li {
        text-align: center;
    }

    /* normalize paddings on small screens*/
    .l-hbox {
        padding: 1.3em;
    }
	.l-rbox{
		padding: 0;
	}
}

/**
* Baby Blue theme for RainbowJS
*
* @author tilomitra
*/

pre {
   word-wrap: break-word;
   padding: 6px 10;
   line-height: 1.3em;
   margin-bottom: 20;
   border: 1px solid #eee;
}

code {
   border: none;
   margin: 0 2px;
   font-size: 0.8em;
   padding: 0.4em 0.6em;
   white-space: nowrap;
}

pre code {
   padding: 0;
   margin: 0;
   font-size: 0.95em;
   white-space: pre-wrap;
}

pre, code {
   font-family: Consolas, 'Liberation Mono', Courier, monospace;
   color: #333;
   background: rgb(250, 250, 250);
}


pre .comment {
   color: #999;
}


pre .tag, pre .tag-name, pre .support.tag-name {
   color: rgb(85, 85, 85);
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
   font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
   color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
   font-weight: normal;
   color: #099;
}

pre .attribute, pre .variable, pre .support {
   color:  #757575; /* skinbuilder block-page-text-normal with #1f8dd6 as primary */
}

pre .string, pre .support.value  {
   font-weight: normal;
   color: #3b8bba; /* skinbuilder block-mine-text-low with #1f8dd6 as primary */
}


